.momane_pageNav {
  display: inline-block;
}

.momane_pageNav input {
  margin-right: 5px !important;
  padding: 3px !important;
  width: 58px !important;
}

.momane_pageNav a {
  background-color: #CCC;
  color: #fff;
  margin: 3px;
  padding: 4px 8px;
  cursor: pointer;
}

.momane_blockUser,
.momane_releaseUser {
  cursor: pointer;
  color: green !important;
  display: block;
}

.momane_blockedContent {
  text-align: center;
  color: green;
  cursor: pointer;
}

.momane_blocked {
  border: 1px solid #e5e5e5;
}